<ul tink-tab-panel="content" class="nav-tabs nav-lg">
	  <li tink-tab="are" tink-tab-template="views/are.html"  role="presentation"><a>are</a></li>
       <li tink-tab="cool" tink-tab-template="views/cool.html"  role="presentation"><a>cool</a></li>
        <li tink-tab="large" tink-tab-template="views/large.html"  role="presentation"><a>large</a></li>
         <li tink-tab="tabs" tink-tab-template="views/tabs.html"  role="presentation"><a>tabs</a></li>
</ul>
	<div tink-tab-panel-content="content">
		
	</div>